.img-create {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: auto;
}

.img-form > label {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-size: 2rem;
}

.img-form > label > input {
    text-align: center;
    text
}

.img-titf {
    width: 300px;
}

.img-descf {
    width: 500px;
    height: 100px;
}

.img-lblf {
    width: 500px;
}

.img-submit {
    height: 37.5px;
    width: 125px;
    border: solid #05334C;
    background-color: #DB570F;
}
