.Stashes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Stash, .Favorite {
    aspect-ratio: 2 / 1;
    height: 200px;
    margin: 35px;
    border-radius: 15px;

    background-color: #555;
    border: solid 2px #4C1E05;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}