.top {
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: center;
    
    div {
        width: 250px;
        display: flex;
        justify-content: space-between;

        .userNav {
            color: black;
            font-size: 18px;
        }

        .active {
            text-decoration: underline;
        }
        .inactive {
            text-decoration: none;
        }
    }
}

.circle {
    /* Shape */
    aspect-ratio: 1 / 1;
    height: 250px;
    margin: 30px;
    background-color: #555;
    border-radius: 50%;

    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
}