.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	font-size: xx-large;
	background-color: #0f94dc;
	margin: 0;
	border: 0;
	padding: 0;
	height: 50px;
	width: 100%;
}

.profile-dropdown {
	position: absolute;
	top: 70px;
	right: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max-content;
	list-style: none;
	padding: 0 15px 15px 15px;
	border: solid #db570f 3px;
	background-color: #db560f70;
}

.profile-dropdown-create {
	position: absolute;
	top: 50px;
	left: 175px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max-content;
	list-style: none;
	padding: 0 15px 15px 15px;
	border: solid #db570f 3px;
	background-color: #db560f3a;
}

.navs-create {
	color: black;
	text-decoration: underline;
}

.navs-create:hover {
	cursor: pointer;
}

.hidden {
	right: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max-content;
	list-style: none;
	padding: 0 15px 0 15px;
}

.mods:hover {
	color: #db570f;
	cursor: pointer;
}

.profile-dropdown > li > button:hover {
	background-color: #05334c;
	cursor: pointer;
}
.profile-dropdown > li > button {
	background-color: #0a6494;
	color: white;
	border: none;
	width: 100px;
	height: 30px;
	align-self: center;
	padding: 5px;
}

.user {
	background: none;
	border: none;
}

.user-page {
	text-decoration: none;
	color: #0A6494;
}

.left {
	display: flex;
	padding-left: 10px;
	gap: 20px;
	font-size: 1.25rem;
}

.navs {
	text-decoration: none;
	color: black;
}

.search-cont {
	flex: 1;
	display: flex;
}

.search-cont > input {
	margin-right: 0;
}

.search-cont > button {
	margin-right: 20px;
	background-color: #0a6494;
}

.search {
	margin-left: 40px;
	margin-right: 40px;
	height: 30px;
	flex: 1;
	background-color: #dbf0fc;
}

.right {
	padding-right: 10px;
}
